# Tarea 1

Fecha de entrega: 
Viernes 5 de enero, 2024, 11.59pm

Comentarios generales:

- No olvidar que python usa el snake_case (o minúsculas separadas por subguión) para llamar a sus variables. 
- No nombrar variables con acentos porque algunas veces, dependiendo de la máquina en la que se corra, esto será aceptado o no. 
- Leer  claramente qué es lo que pide la pregunta.  

A continuación tienes 13 ejercicios. Para aprobar la tarea, solo necesitas hacer 10 de ellos.*   


*Sin embargo, para poder practicar todos los temas de hoy, recomiendo hacer todos.


Ejemplo:  Utilizando sólo los siguientes inputs numéricos: ```5``` y ```2```  , maneje los operadores tal que el output sea ```120```. Crea una variable con el resultado.

In [1]:
#Respuesta
output = (5*2)**2 + 5*2**2
output

120

1.  Utilizando sólo los siguientes inputs: ```5``` y ```2```  , maneje los operadores tal que el output sea ```50```

In [2]:
#Tu respuesta
output1=5**2+5**2
output1

50

2. Evalúa que el output del ejemplo sea mayor al output de 1. Crea una variable con esta evaluación (Hint: Será un booleano).

In [5]:
# Tu respuesta
variable=120 > 50
print(variable)

True

3. Utilizando sólo los siguientes inputs: ```31``` maneja los operadores tal que el output sea ```0```

In [6]:
#Tu respuesta
output2=31-31
print(output2)

0

4.  Utilizando sólo los siguientes inputs: ```2``` (todos los 2 que necesites) maneja los operadores tal que el output sea ```5```

In [8]:
#Tu respuesta
output3=2/2+2+2
print(output3)

5.0

5. Crea una variable ```x``` y una variable ```y``` que sumen 1600. Crea una variable ```v``` que dé un booleano, tal que evalúe que ```x + y``` sea igual a 2000.

In [12]:
#Tu respuesta
x=700
y=900
print(x+y)

v=x+y==2000
print(v)

1600
False

6. Cree una variable ```z``` y una variable ```a``` que sumen 1000.

In [13]:
#Tu respuesta
z=600
a=400
print(z+a)

1000

7. Calcula cuántas horas trabajan en total los 130 congresistas de nuestro país en un año. Asume que trabajan 40 horas a la semana, por 48 semanas al año (considerando que tienen vacaciones y no trabajan sobretiempo).

In [17]:
#Tu respuesta
numero_horas_trabajo_congresistas=130*40*48
print(numero_horas_trabajo_congresistas)

249600

8. Ahora calcula el salario de un congresista por hora. Los supuestos del anterior ejercicio se mantienen (Se puede pasar por alto las vacaciones). Cabe recordar que los congresistas ganan 15,600 soles mensuales.   
- Crea una variable para el salario por hora de un congresista.   
- Crea una variable para la suma de los salarios por hora de los 130 congresistas.

In [48]:
#Tu respuesta
salario_congresista_por_hora=15600/(40*48)
print(salario_congresista_por_hora)

8.125

In [49]:
suma_salarios_por_hora_congresistas=130*8.125
print(suma_salarios_por_hora_congresistas)

1056.25

9. Con la reducción del IGV para restaurantes y hoteles (https://emprender.sunat.gob.pe/tributando/temas-actualidad/reduccion-igv-para-restaurantes-hoteles), los restaurantes pagan el 10% de IGV. Un restaurante factura 3426 soles diarios, en promedio, después de impuestos. Calcule el valor base (el IGV es 10% sobre el valor base, ó 1 + .1).

Calcule, utilizando el valor base, cuánto es el descuento del IGV en soles (o el 8% de este valor base).

Cree una variable para cada uno de los siguientes:
- porcentaje de IGV 
- el total de facturación
- el monto del impuesto
- el valor base sin impuesto
- el descuento de IGV en soles. Puedes comprobar tu fórmula con cualquier recibo de pago que detalle el IGV.

In [56]:
#Tu respuesta

#Calculando el valor base
valor_base=3426/(1+.1)
print(valor_base)

3114.5454545454545

In [61]:
#Porcentaje de IGV
porcentaje_igv=3114.5454545454545*0.10
print(porcentaje_igv)

311.4545454545455

In [57]:
#Total de facturación
facturacion_total=3114.5454545454545*(1+0.10)
print(facturacion_total)

3426.0000000000005

In [58]:
#Monto del impuesto
monto_impuesto=3426.0000000000005-3114.5454545454545
print(monto_impuesto)

311.45454545454595

In [63]:
#Descuento de IGV en soles
descuento_igvsoles=0.08*3114.5454545454545
print(descuento_igvsoles)

249.16363636363636

10.  Cristina percibe el sueldo mínimo (1025 soles). Compruebe que el salario anual de Cristina es menor al salario anual de un congresista, usando operadores de comparación y una expresión que detalle el monto mensual y el número de meses trabajados de ambos. La comparación debe ser ser evaluada a un booleano

In [64]:
#Tu respuesta
salario_cristina_anual=1025*12
print(salario_cristina_anual)

12300

In [65]:
salario_congresista_anual=15600*12
print(salario_congresista_anual)

187200

In [66]:
1025*12<15600*12

True

11. Una conocida petrolera debe volver a compensar a  1023 familias que se dedican a la pesca por la contaminación causada en el mar donde pescan. El nuevo monto negociado es de 1200 millones de soles, sin embargo, una cláusula del contrato dice que el monto de compensación tiene que ser un número entero. ¿Cuántos soles adicionales se le  tiene  que agregar al monto negociado para que las familias reciban una cantidad entera,  asumiendo que para lograr este número entero, hay que elevar el monto total? (Pista: Acuérdate del  floor y el módulo).

In [55]:
#Tu respuesta

12. Crea una variable igual a una lista que contenga:
- un string,
- un booleano,
- dos valores numéricos (de cualquier tipo) y
- una lista de dos strings con el nombre de tus artistas musicales favoritos.

In [28]:
lista1 = ["hola como estas",True,17,3.42,["Mon Laferte","Jon Bon Jovi"]]
print(lista1)

['hola como estas', True, 17, 3.42, ['Mon Laferte', 'Jon Bon Jovi']]

13. Tenemos la siguiente lista de cursos:

In [31]:
cursos = ["Historia", "Economia", "Antropologia", "RSP", "Derecho"]

Realiza las siguientes operaciones en bloques diferentes: 
- Calcula cuántos elementos tiene la lista.

In [32]:
#Tu respuesta
numero_cursos = len(cursos)
print(numero_cursos)

5

13.1. Agrega tres cursos adicionales de 3 formas diferentes (uno por forma):
   - Suma (+) una lista que contenga un curso adicional. 
   - Usa el append. 
   - Usa el extend.

In [42]:
#Tu respuesta
cursos = ["Historia", "Economia", "Antropologia", "RSP", "Derecho"]
cursomas=["Elementos de Ciencia Política"]

cursos+cursomas

['Historia',
 'Economia',
 'Antropologia',
 'RSP',
 'Derecho',
 'Elementos de Ciencia Política']

In [43]:
cursos.append("Ética")
cursos

['Historia', 'Economia', 'Antropologia', 'RSP', 'Derecho', 'Ética']

In [44]:
mas_cursos = ['Lógica', 'Epistemología']
cursos_copy = cursos[:]
cursos_copy.extend(mas_cursos)
cursos_copy

['Historia',
 'Economia',
 'Antropologia',
 'RSP',
 'Derecho',
 'Ética',
 'Lógica',
 'Epistemología']

13.2. 
- Usa la indexación para señalar a _RSP_.

In [40]:
#Tu respuesta
cursoRSP = cursos[3]
print(cursoRSP)

RSP

13.3.
- Remueve el curso que menos te guste de la lista.

In [12]:
#Tu respuesta

cursos[-4]

'Antropologia'

13.4.
  - Invierte la lista.

In [13]:
#Tu respuesta

cursos.reverse()
cursos

['Ética', 'Derecho', 'RSP', 'Antropologia', 'Economia', 'Historia']

13.5   
Tenemos los siguientes números: 30, 24, 54.2, 15.8, 145, 90, 100.
 - Crea una lista con ellos. 
 - Ordena la lista de menor a mayor.
 - Saca el promedio de los números de la lista.  
(Realiza cada uno en bloques separados).

In [45]:
#Tu respuesta

#Una lista con los números

lista1=[30,24,54,15.8,145,90,100]
print(lista1)

[30, 24, 54, 15.8, 145, 90, 100]

In [46]:
lista1.sort()
lista1

[15.8, 24, 30, 54, 90, 100, 145]

In [47]:
promedio=(30+24+54.2+15.8+145+90+100)/7
promedio

65.57142857142857